/* art 1L 轮播图列表尺寸 */

#art .art_1 {
    width: 100%;
    margin-bottom: 20px;
    height: 450px;
    overflow: hidden;
}


/* art 1L 轮播图所在位置的尺寸 */

#art .art_1>.fl {
    width: 930px;
    height: 450px;
    overflow: hidden;
    background: #ddd;
    position: relative;
}

#art .art_1>.fl ul {
    width: 3720px;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

#art .art_1>.fl ul.transition {
    transition: margin-left .5s;
}

#art .art_1>.fl ul>li {
    float: left;
    width: 930px;
    height: 450px;
}

#art .art_1>.fl ul>li img {
    width: 100%;
}


/* 轮播图小圆点 */

#art_idxs {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    height: 10px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .2);
    z-index: 1000;
    vertical-align: middle;
    line-height: 10px;
}

#art_idxs>span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5);
    margin-left: 3px;
    line-height: 10px;
    cursor: pointer;
}

#art_idxs>span.hov {
    background: rgba(255, 255, 255, 1);
}


/* art 1L 轮播图 */


/* art 1L 轮播图右侧列表所在位置的尺寸 */

#art .art_1>.fr {
    width: 270px;
    height: 450px;
    overflow: hidden;
}

#art .art_1>.fr>div:first-child {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

#art .art_1>.fr>div:first-child>a img {
    width: 100%;
    transition: transform .3s;
}

#art .art_1>.fr>div:first-child>a img:hover {
    transform: scale(1.1);
}

#art .art_1>.fr>div:nth-child(2) {
    height: 300px;
    width: 250px;
    padding: 0 10px;
    background: url(../img/index/bg2.png);
}

#art .art_1>.fr>div:nth-child(2) p {
    margin: 0;
    width: 100%;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 1px solid #000;
}

#art .art_1>.fr>div:nth-child(2) table {
    border-collapse: collapse;
    border-spacing: 0;
    background: #fff;
    width: 100%;
    border: 0;
    font-size: 12px;
    color: #333;
    text-align: center;
}

#art .art_1>.fr>div:nth-child(2) table th {
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    padding: 0 10px;
}

#art .art_1>.fr>div:nth-child(2) table tr+tr {
    cursor: pointer;
    padding: 0;
}

#art .art_1>.fr>div:nth-child(2) table td {
    height: 30px;
    line-height: 24px;
    font-size: 14px;
}


/* art 每日推荐和人气推荐的标题样式 */

#art .art_sub_title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-bottom: 25px;
    border-bottom: 2px solid #000;
}

#art .art_sub_title .fl {
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

#art .art_sub_title .fr {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

#art .art_sub_title a.fr:hover {
    color: #666;
}


/* art  每日推荐和人气推荐 尺寸 */

#art .art_tj {
    width: 100%;
    overflow: hidden;
    height: 637px;
    margin-bottom: 30px;
}


/* art 2L 3L 左侧图片样式 */

#art .art_sub_main .fl {
    width: 232px;
    height: 550px;
}

#art .art_sub_main .fl a>img {
    width: 100%;
    transition: transform .3s;
}

#art .art_sub_main .fl a>img:hover {
    transform: scale(1.1);
}


/* art 2L 3L 右侧图片列表样式 */

#art .art_sub_main .fr {
    width: 968px;
    height: 550px;
    overflow: hidden;
}

#art .art_sub_main .fr ul {
    overflow: hidden;
    width: 100%;
}

#art .art_sub_main .fr ul>li {
    float: left;
    width: 232px;
    height: 277px;
    margin: 0 0 6px 10px;
}

#art .art_sub_main .fr ul>li>a:first-child {
    border: 1px solid #ddd;
    display: block;
    overflow: hidden;
}

#art .art_sub_main .fr ul>li a img {
    width: 100%;
    transition: transform .3s;
}

#art .art_sub_main .fr ul>li a img:hover {
    transform: scale(1.1);
}


/* art 2L 3L 右侧图片 标题和价格 样式 */

#art .art_sub_main>.fr ul li p {
    margin: 0;
    width: 232px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #f00;
    overflow: hidden;
}

#art .art_sub_main>.fr ul li p>a {
    height: 40px;
    line-height: 40px;
    color: #000;
    width: 140px;
    height: 40px;
}

#art .art_sub_main>.fr ul li p>a:hover {
    color: #666;
}

#art .art_sub_main>.fr ul li p>span {
    width: 85px;
    height: 40px;
    text-align: right;
}


/* art 4L 精选专题 */

#art .art_jxzt {
    width: 100%;
    height: 347px;
    margin-bottom: 10px;
    overflow: hidden;
}

#art .art_jxzt_main p {
    margin: 0;
    width: 585px;
    height: 230px;
    margin-bottom: 30px;
    float: left;
    overflow: hidden;
}

#art .art_jxzt_main p+p {
    margin-left: 30px;
}

#art .art_jxzt_main p a>img {
    width: 100%;
    transition: transform .3s;
}

#art .art_jxzt_main p a>img:hover {
    transform: scale(1.1);
}